html,body,div,h1,h2,p,footer,header,section {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline
}

footer,header,section {
    display:block
}

body {
    line-height:1;
    max-width: 960px;
    margin: auto;
}

ol,ul {
    list-style:none
}

blockquote,q {
    quotes:none
}

blockquote:before,blockquote:after,q:before,q:after {
    content:'';
    content:none
}

table {
    border-collapse:collapse;
    border-spacing:0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display:block
}

body {
    font:12px/18px Arial,sans-serif;
    width:100%
}

.box-name {
    text-align: center;
    font-size: 1.5em;
    position: relative;
    top: 40%;
}